body{
  background-color: #383838;
}

h1{
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  color:white;
  font-size: 10em;
  font-style: bold;
  margin-bottom: -20px;
}

p{
  text-align: center;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-weight: lighter;
  color:white;
  font-size: 2em;
}

#option{

  padding: 10px;
  border: solid white;
  border-width: thin;
  width: 20%;
  margin: 0 auto;

}

.button {
  display:block;
  background-color: #383838;
  border: none;
  
  color: #FFFFFF;
  text-align: center;
  font-size: 3em;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;

  font-weight: lighter;
  padding: 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  position:relative;
  margin:0 auto;
 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' ';
/*  font-size: 1em;
*/  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}